
/* Workaround for iOS Safari */
md-content {
  -webkit-overflow-scrolling: auto !important;
} 

.leaflet-container {
  height: 100%;
  width: 100%;
  position: fixed;
}


.leaflet-popup-content {
  min-width:130px !important;
}

.leaflet-grid-label .lng {
    margin-left: 8px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.paper-card-content h3 {
    margin-top: 0;
}

div.md-fab-bottom-right {
    position: fixed; 

    bottom: 16px; right: 16px; 
    @media (min-width: 480px) {
        bottom: 32px; right: 32px; 
    }
    z-index:100000;
}

@import 'ember-paper';
