body {
  padding: 0;
  margin: 0;
}

.ember-view {
  height: 100%;
  width: 100%;
  position: absolute;
}

.leaflet-container {
}


.leaflet-grid-label .lng {
    margin-left: 8px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}