
/* Workaround for iOS Safari */
md-content {
  -webkit-overflow-scrolling: auto !important;
} 

.leaflet-container {
  height: 100%;
  width: 100%;
  position: fixed;
}


.leaflet-popup-content {
  min-width:130px !important;
}

.leaflet-grid-label .lng {
    margin-left: 8px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@import 'ember-paper';
