
  <div id="paper-wormhole"></div>

  {{#paper-toolbar flex-layout="column" flex=true}}
    {{topbar-menu}}
  {{/paper-toolbar}}

  {{#paper-content flex-layout="column" flex=true}}
    {{outlet}}
  {{/paper-content}}
