
  <div id="paper-wormhole"></div>

  {{#paper-toolbar flex-layout="column" flex=true}}
    <div class="md-toolbar-tools">
    <!--
      {{#md-button class="md-icon-button"}}
        {{md-icon md-svg-icon="images/icons/menu.svg"}}
      {{/md-button}} -->
        <h2>TUM MI building <small class=".md-caption"> (2.0-alpha3)</small></h2>
        
        {{#paper-button action=(transition-to 'map')}}Map{{/paper-button}}
        {{#paper-button action=(transition-to 'list')}}List{{/paper-button}}
        {{#paper-button action=(transition-to 'test')}}Test{{/paper-button}}

        <!-- {{#link-to 'test'}}Test{{/link-to}} -->
        
        <span flex></span>

        {{#paper-button classNames="md-icon-button"}}
          {{paper-icon icon="more-vert"}}
        {{/paper-button}}
    </div>
  {{/paper-toolbar}}
  
  {{#paper-content flex-layout="column" flex=true}}
    {{outlet}}
  {{/paper-content}}