

{{#paper-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height="1:1"}}

  {{#each model as |p|}}
    {{#paper-grid-tile}}
      {{#paper-card}}
        {{#paper-card-content}}
          <h3 title="{{p.id}} {{p.device.type}}">{{p.device.name}}</h3>
          {{basic-composed c=p.device}}
        {{/paper-card-content}}
     {{/paper-card}}
    {{/paper-grid-tile}}
  {{/each}}

{{/paper-grid-list}}